<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to 'Персонажи мастера', '/editor/master_characters' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Персонажи Игрока', '/editor/player_characters' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Враги', '/editor/enemies' %>
      </li>
    </ul>
  </div>
</nav>