<turbo-frame id = "player_character_card" class = 'col-3'>
  <a href = <%= player_character_path(player_character.id) %> data-turbo-frame="_top">
    <div class = 'title'>
      <h4> <%= player_character.name %> </h4>
    </div>
  </a>
  <div сlass = 'campaign_description m-2 p-2'>
    Описание персонажа: <%= player_character.description %>
  </div>
</turbo-frame>