<turbo-frame id = 'body' class = 'col-9 ml-auto'>
  <div class = 'row'>
    <% @campaigns.each do |c| %>
      <div class = 'campaign_card col-3 ml-3 mr-3 mt-3p-3'>
        <%= render partial: 'card', locals: { campaign: c }%>
      </div>
    <% end %>
  </div>
</turbo-frame>