<div class = 'plot'>
  <% campaign.chapters.each_with_index do |chapter, index| %>
    <div class = 'chapter_block'
         data-controller = 'expand'
         data-expand-inactive-text = '+'
         data-expand-active-text = '-'
    >
      <div class = 'd-flex justify-content-between'>
        <%= link_to(chapter_path(chapter), 'data-turbo-frame' => "_top") do %>
          <h5><%= "Глава #{index + 1}. #{chapter.name}"%></h5>
        <% end %>

        <button class = 'btn btn-primary'
                data-expand-target = 'expandButton'
                data-action = "expand#expand"
        >
        </button>
      </div>

      <ul type = 'square' class = 'acts_block' data-expand-target = 'expandValue'>
        <% chapter.acts.each_with_index do |act, index| %>
          <li><h6><%= "Aкт #{index + 1}. #{act.name}"%></h6></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>