<div class = 'col'> <h2><%= player_character.name %></h2></div>
<%= render partial: 'characteristics', locals: { player_character: player_character } %>
<%= render partial: 'player_skills', locals: { player_character: player_character } %>