<%= content_tag :div,
                class: 'characters',
                data: {
                  controller: 'characters'
                } do %>
  <div class = 'character_tabs'>
    <button class = 'tab' data-action = 'characters#choose_masters'>
      Персонажи Мастера
    </button>
    <button class = 'tab' data-action = 'characters#choose_enemies'>
      Враги
    </button>
  </div>
  <div data-characters-target = 'masterCharactersBlock'>
    <%= render partial: 'master_characters/cards_collection',
               locals: {
                 master_characters: master_characters,
                 new_character_params: { campaign_id: campaign&.id, act_id: act&.id }
               }
    %>
  </div>
  <div data-characters-target = 'enemyCharactersBlock'>
    <%= render partial: 'enemies/cards_collection',
               locals: {
                 enemies: enemies,
                 new_character_params: { campaign_id: campaign&.id, act_id: act&.id }
               }
    %>
  </div>
<% end %>