<div class = 'container-fluid master_characters'>
  <%= turbo_stream_from 'master_characters' %>

  <%= turbo_frame_tag 'master_characters', class: 'row' do %>
    <% master_characters.each do |master_character| %>
      <%= render partial: 'characters/card', locals: { character: master_character} %>
    <% end %>
  <% end %>

  <%= yield if block_given? %>
</div>