<div class = 'col'> <h2><%= master_character.name %></h2></div>
<%= render partial: 'master_characters/characteristics', locals: { master_character: master_character} %>
<%= render partial: 'master_characters/information', locals: { master_character: master_character} %>