<div class = 'col'> <h2><%= master_character.name %></h2></div>
<%= render partial: 'characteristics', locals: { master_character: master_character} %>
<%= render partial: 'information', locals: { master_character: master_character} %>

<%= link_to 'Перейти к кампании', campaign_path(master_character.campaign) if master_character.campaign.present? %>