<turbo_frame id = 'campaign_invitations'>
  <h5>Список друзей:</h5>
  <div class = 'row'>
    <% friends.each do |friend| %>
      <div class = 'col-3'>
        <%= render partial: 'campaign_invitations/campaign_invitation',
                   locals: {
                     receiver: friend,
                     invitation: CampaignInvitationRepository.new.incoming_for_user_by_campaign(friend, campaign),
                     campaign: campaign
                   }
        %>
      </div>
    <% end %>
  </div>
</turbo_frame>