<div class = 'container-fluid master_characters'>
  <%= render partial: 'master_characters/cards_collection',
             locals: {
               master_characters: campaign.master_characters,
               new_character_params: { campaign_id: campaign.id }
             }
  %>
</div>