<turbo_frame id = 'new_player'>
  <h5>Список друзей:</h5>
  <div class = 'row'>
    <% friends.each do |friend| %>
      <%= render(layout: 'friends/friend', locals: { friend: friend.decorate }) do %>
        Отправить приглашение
      <% end %>
    <% end %>
  </div>
</turbo_frame>