<div class = 'plot'>
  <turbo-frame id = 'chapters'>
    <div id = 'chapters'>
      <%= render campaign.chapters %>
    </div>

    <%= link_to 'Создать главу', new_chapter_path(params: { campaign_id: campaign.id }) %>
  </turbo-frame>
</div>