// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.campaign_card {
  -webkit-box-shadow: 5px 7px 10px 0px rgba(92,89,92,1);
  -moz-box-shadow: 5px 7px 10px 0px rgba(92,89,92,1);
  box-shadow: 5px 7px 10px 0px rgba(92,89,92,1);

  border-left: orange 3px solid;
  border-top: orange 3px solid;

  .title {
    border-bottom: orange 4px solid;
  }

  .campaign_description {
    margin: 1rem;
    padding: 1rem;
  }
}

.new_project_button {
  img {
    width: 30%;
    position: relative;
    left: 35%;
  }
}

.campaign {
  .information {
    &__block {
      padding: 0.5rem;
      margin: 1rem;
      border: 1px #000000 solid;
    }

  }
}